.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 5px;
    border-top: solid 1px #676767;
    width: 80%;
    color: #676767;
}

.footer li{
    display: inline;
    list-style: none;
    margin: 0 30px;
}

@media(max-width: 767px){
    .footer li{
        display: block;
        margin-bottom: 30px;
    }

    .footer li:last-child{
        margin-bottom: 0;
    }
}