.programs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 80px auto 200px;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program{
    flex-basis: 31%;
    position: relative;
}

.program-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    padding-top: 50%;
}

.program-overlay img{
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .program-overlay{
    opacity: 1;
    padding-top: 0;
}

@media (max-width: 768px) {
    .programs{
        flex-direction: column;
    }

    .program{
        width: 65%;
        margin: 0 auto 70px;
    }

    .program-overlay{
        opacity: 1;
        padding-top: 0;
    }
}